.pagination{
    display:flex;
    justify-content: center;
}
.pagination2{
    color:black;
}
.card{
    display:flex;
    justify-content: center;
    margin-top: -20px;
}
.searchbar{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}
.listnum{
    margin-top: 20px;
    margin-left: 170px;
    display: flex;
    
}
.listnum2{
    margin-left: 750px;
    position: absolute;
}