.footer a{
    text-decoration: none;
    align-self:center;
    margin-top: auto;
    white-space:nowrap;
    overflow:hidden;
}

.footer{
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    flex-wrap: wrap;
    width:200px !important;
    height:100px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}